@import url(//fonts.googleapis.com/css?family=Vibur);
.logo {
  text-align: center;
  width: 100%;
  margin: 0 0 18px 0;
  user-select: none;
}
.logo b {
  font: 400 2.6em "Vibur", cursive;
  color: #fee;
  text-shadow: 0 -8px 32px, 0 0 2px, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 2px 1px #000;
  letter-spacing: 0.04em;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% { color: inherit; text-shadow: inherit; }
  79% { color: #333; }
  80% { text-shadow: none; }
  81% { color: inherit; text-shadow: inherit; }
  82% { color: #333; text-shadow: none; }
  83% { color: inherit; text-shadow: inherit; }
  92% { color: #333; text-shadow: none; }
  92.5% { color: inherit; text-shadow: inherit; }
}
